body {
  background-color: #000;
  color: #fff;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}

#loader {
  width: 20vw;
  display: none;
  padding: 10vh 40vw;
}

.news-articles {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  width: 100%;

  @include tablet {
    flex-flow: row wrap;
  }

  .article__clips {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    background-repeat: no-repeat;
    background: center / cover;
    width: 100%;
    padding: 50vw 0 0 0;
  
    @include tablet {
      width: 33.33%;
      padding: 25vw 0 0 0;
    }
  
    @include desktop {
      width: 25%;
      padding: 15vw 0 0 0;
    }
  }

  a { 
    text-decoration: none;
    line-height: 1.25rem;
    color: #fff;
  }

  p.article__abstract {
    align-self: flex-end;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, .6);
    color: #fff;
    padding: 0 2.5% 2.5% 2.5%;
  }
}
