body {
  background-color: #000;
  color: #fff;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

#articles {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  
  .articles__clips {
    background-repeat: no-repeat;
    background: center / cover;
    max-width: 100%;
      

    p {
      font-size: 20px;
      color: green;
      padding: 10px 10px 200px 10px;
      text-decoration: none;
      }
  } 
}



    // img {
    //   background-image: outputImage;
    //   position: relative;
    //   height: 400px;
    //   width: 25vw;
    //   z-index: -1;
    // }

