footer {
  font-family: $fonts__family-main;
  color: $color__font-footer;
  text-align: center;
  padding: 5vh 0 5vh 0;

  @include tablet {
    padding: 10vh 0 5vh 0vw;
  }
  
  @include desktop {
    text-align: left;
    padding: 10vh 0 5vh 3vw;
  }

  .footer__instanews {
    text-transform: uppercase;
  }
}