// Structure
$base__space-unit: 1.5rem;

/* Fonts */
$fonts__size-main: 16px;
$fonts__family-main: 'Open Sans', sans-serif;
$fonts__line-height: 1.25rem;


/* Colors */
$color__background-main: #000;
$color__font-main: #fff;
$color__font-footer: #c2c2c2;

/* Media Queries */
$tablet-width: 600px;
$desktop-width: 1000px;